<div class="calculation-input">
  <img src="person.png" class="calculation-image">
  <label for="number-of-people">Number of People</label>
  {{input type="number" value=numberOfPeople id="number-of-people" min=0}}
</div>

<div class="calculation-input">
  <img src="slice.png" class="calculation-image">
  <label for="slices-per-person">Slices per Person</label>
  {{input type="number" value=slicesPerPerson id="slices-per-person" min=0}}
</div>

<div class="pizza-calculation">
  <p>Yea, so–you're going to need to order {{pizzasNeeded}} pizzas.</p>
  {{pizza-counter pizzas=pizzasNeeded}}
</div>